@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scanlines {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 4px;
    }
  }
  
  .animate-scanlines {
    animation: scanlines 0.5s linear infinite;
  }
  .hidden {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
  .show {
    opacity: 1;
  }
  ::-webkit-scrollbar {
    width: 15px;
    z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background:#065F46;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #22C55E;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4ADE80;
}